.navStyle{
    background-color: blueviolet;
    line-height: 40px;
    font-size: 25px;
    padding : 10px;
    margin : 10px; 

       }   
       
.navStyle a{

    color: white;
    text-decoration:none;
    padding: 10px;
}

.btn-primary{
    width:100px;
    font-size:20px;
}